.section__banner_about {
  width: 100%;
  height: 33rem;
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 2.5rem;
  padding-top: 4.7rem;
  font-family: Archivo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.section__banner_about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/img/banner__contact.jpg);
  background-size: cover;
  background-color: rgba(34, 34, 34, 0.8);
  z-index: -1;
  caret-color: #fff;
}
.div__message_conford {
  display: none;
}
.h3__banner {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.175rem;
  height: 2.25rem;
  width: 14.8rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
}

.h2__banner {
  font-size: 3.5rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
}

.div__positions_contact {
  width: 9.75rem;
  height: 3.0625rem;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 10rem;
  align-self: flex-end;
}

.p__home_positions {
  border-right: 1px solid #222;
  color: #222;
  font-family: "Archivo";
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.p__position_positions {
  color: #bead8e;
  font-family: "Archivo";
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

@media (min-width: 1000px) {
  .section__banner_about {
    width: 100%;
    height: 32rem;
    padding-left: 10rem;
  }
  .h3__banner {
    width: 100%;
  }
  .h2__banner {
    width: 22rem;
  }
  .div__message_conford {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1rem;
    width: 100%;
    height: 7.5rem;
    background-color: #222222;
    color: #fff;
    text-align: center;
  }
}
